    :root {
      --primary: #013358 ;
      --primaryText: #e5f3fd ;
      --bg:#0869b4;
      --bg-card:#e2ebf3;
      --text-col:#061f32;
      --text-grey:#e9eaeb;
      --highlight : #d5400e; 
      --sponsor-col: #f7ddd0;


      /*
      Theme default  
      --primary: #211275 ;
      --primaryText: #e5f3fd ;
      --bg:#4a5ce2;
      --bg-card:#f1f0f5;
      --text-col:#0a023c;
      --text-grey:#a4b4c0;
      --highlight : #ff4D00; 
      --sponsor-col: #f7ddd0;  
      Theme1
      --primary: #053a62 ;
      --primaryText: #e5f3fd ;
      --bg:#0869b4;
      --bg-card:#e2ebf3;
      --text-col:#0a023c;
      --text-grey:#e9eaeb;
      --highlight : #d5400e; 
      --sponsor-col: #f7ddd0; 
      */

      /* --sponsor-text-col: #110369; */
      /* --topbar-color : #ff4D00;  */
      /* --topbar-text-color : #110369;  */
        }

body{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: var(--text-col);
}
h2, h3, h4, h5,h6{
    color: var(--text-col);
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    line-height:1.25rem ;
}



/*==================
Header
===================*/



/* .category-search-bar{
     width: 100%; 
} */
.noslider::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.search_bar{
    /* width: 350px; */
    border-radius: 8px;
    background-color: #fff;
    border-style: solid;
    font-family: sans-serif;

}

.searchBarPanel{
z-index: 9;}
.input_box{
    position: relative;
    display: flex;
    align-items: center;
    /* margin: 0px 10px; */
    margin-left: 10px;
}

input{
    /* width: 100%; */
    font-size: 10px;
    padding: 0px 0px;
    border: none;
    outline: none;
}


.placeholder{
    top: -13px; 
}
.box{
    font-size: 25px;
    margin-right: 10px;
}
.slider_box{
    position: relative;
}
.slider{
    position: absolute;
    opacity: 0;
    transition: 0.10s;
}




select {
    appearance: none;

    height: 100%;
    color: black;
    cursor: pointer;

    position: relative;
    font: 24px/1 "Roboto", sans-serif;
 }
 .select {
    position: relative;
    display: block;
    width: -webkit-fill-available;
    overflow: hidden;
    border-radius: .25em;
 }
 .select.textarea{
    font-size: large;
 }
 .bannerslider .item {
    background: var(--primary);
    height: 175px;

}
.slider .item {
    background: var(--primary);
    height: 175px;
    width: auto;
}
.slider h2 {
    color: #FFF;
    text-align: center;
    padding: 5rem 0;
    margin: 0;
    font-style: italic;
    font-weight: 300;
}


*:focus {
    outline: none;
}

/* New CSS */
.custom-select {
    width: -webkit-fill-available;
}


/* .title{
margin-right: 47px;
} */
 .show_placeholder{
    opacity: 1 ;
 }
 .three_dot{
    width: 25px;
  height: 5px;
  /* border-radius: 100%; */
    background-color: #fff;
  box-shadow: 0px 8px 0px #FFF, 0px -8px 0px #fff;
  
 }


 /* side bar */
 /* @import url('https://cdn.jsdelivr.net/npm/mycolorscheme@0.0.4/mytheme.min.css'); */
 .sidebar {
    width: 100%;
    height: 100%;
    display: flex;
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    color: #ffffff;
    transition: visibility 0.5s, opacity 0.5s, backdrop-filter 0.5s;
    backdrop-filter: blur(4px);
    user-select: none;
    pointer-events: none;
    -mox-user-select: none;
    z-index: 49;
}


.block-dom {
    width: 100%;
    height: 100%;
    opacity: 50%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--slate-400);
}
.sidebar-content {
    width: 40%;
    position: absolute;
    /* padding: 5px 20px; */
    top: 0;
    bottom: 0;
    right: -40%;
    left: auto;
    color: #f3efd9;
    border-radius: 4px 0 0 4px;
    overflow-y: scroll;
    transition: right 0.3s ease-in-out, opacity 0.3s ease-in-out;
  	scroll-behavior: smooth;
    &::-webkit-scrollbar-thumb {
      background-color: var(--gray-50);
    }
 
}
.sidebar.show {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
    user-select: auto;
  -mox-user-select: auto;
}

.sidebar.show .sidebar-content {
    opacity: 1;
    right: 0;
  top: 40
}
/* nav icon */

#nav-icon{
    /* width: 25px; */
    /* height: 45px; */
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
  }
  
  #nav-icon span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background:  #f3efd9;
    ;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
  }
  
  /* Icon 3 */
  
  #nav-icon span:nth-child(1) {
    top: 0px;
  }
  
  #nav-icon span:nth-child(2),
  #nav-icon span:nth-child(3) {
    top: 10px;
  }
  
  #nav-icon span:nth-child(4) {
    top: 20px;
  }
  
  #nav-icon.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
  }
  
  #nav-icon.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  #nav-icon.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  
  #nav-icon.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
  }
  
  .glow {
    cursor: pointer;
    position: relative;
}

.glow:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 1; /* Always visible */
    border-radius: 10px;
}

.glow:active {
    border-radius: 10px;
}

.glow:active:after {
    background: transparent;
}

.glow:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background:var(--primary);
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}